In [3]:
import pandas as pd
import numpy as np
import tensorflow as tf

# from keras.utils.np_utils import to_categorical
import sklearn
from sklearn.linear_model import LinearRegression

In [73]:
df = pd.read_csv('data/data.csv', sep=';')
# sort data by team and year
df = df.sort_values(['team', 'year'], ascending=[True, True]).reset_index(drop=True)
df.tail()

     year    team  standing
244  2019  Wolves         7
245  2020  Wolves         7
246  2021  Wolves        13
247  2022  Wolves        10
248  2023  Wolves        13

In [40]:
df_dummies = pd.get_dummies(df, columns=['team'])
df_dummies.head()

,year,standing,team_Arsenal,team_Aston Villa,team_Bournemouth,team_Brentford,team_Brighton,team_Burnley,team_Cardiff City,team_Chelsea,...,team_Sheffield United,team_Southampton,team_Stoke City,team_Sunderland,team_Swansea,team_Tottenham,team_Watford,team_West Brom,team_West Ham,team_Wolves
0,2015,3,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2016,2,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2017,5,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2018,6,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2019,5,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df_filtered = df_dummies.drop(columns=['year'])
df_filtered.head()

In [42]:
vals = df.values
sequences = 2
teams = np.unique(df['team'].values)
print(teams)
X = []
y = []
X_test = []
X_test_teams = []

df_dummies = pd.get_dummies(df, columns=['team'])
df_filtered = df_dummies.drop(columns=['year'])

for team in teams:
    df_team = df_filtered.loc[df['team'] == team]
    #print(df_team)
    team_standings = df_team.values
    # print(f"len(team_standings) {len(team_standings)}")
    for i in range(0, len(team_standings)):
        # print(f"team {team} {i}th year")
        if i + sequences < len(team_standings):
            x_values = team_standings[i:i+sequences]
            # print(x_values)
            # X.append(x_values)
            y_value = team_standings[i+sequences, 0]
            #print(y_value)
            y.append(y_value)
        elif i + sequences == len(team_standings):
            x_values = team_standings[i:i+sequences]
            X_test.append(x_values)
            print(f"team {team}")
            X_test_teams.append(team)

X = np.array(x_values)
y = np.array(y)
X_test = np.array(X_test)
print(X.shape)
print(y.shape)
print(X_test.shape)

['Arsenal' 'Aston Villa' 'Bournemouth' 'Brentford' 'Brighton' 'Burnley'
 'Cardiff City' 'Chelsea' 'Crystal Palace' 'Everton' 'Fulham'
 'Huddersfield' 'Hull City' 'Leeds United' 'Leicester City' 'Liverpool'
 'Man City' 'Man United' 'Middlesbrough' 'Newcastle' 'Norwich City'
 'Nottm Forest' 'Sheffield United' 'Southampton' 'Stoke City' 'Sunderland'
 'Swansea' 'Tottenham' 'Watford' 'West Brom' 'West Ham' 'Wolves']
team Arsenal
team Aston Villa
team Bournemouth
team Brighton
team Burnley
team Cardiff City
team Chelsea
team Crystal Palace
team Everton
team Fulham
team Huddersfield
team Hull City
team Leeds United
team Leicester City
team Liverpool
team Man City
team Man United
team Newcastle
team Norwich City
team Sheffield United
team Southampton
team Stoke City
team Sunderland
team Swansea
team Tottenham
team Watford
team West Brom
team West Ham
team Wolves
(2, 33)
(188,)
(29, 2, 33)

In [43]:
print(y)

[ 5  6  5  8  8  5  2 21 21 21 17 11 14  7  9 12 21 14 18 21 21 15 21 15
 17 15 16  9  6 16  7 15 10 17 18 21 18  1  5  3  4  4  3 12 14 11 12 14
 14 12 11  7  8  8 12 10 16 17 21 19 21 18 21 10 21 16 20 21 21 21 18 21
 21 21 21 21 21 21 21 21  9 17 19 12  9 21  9  5  5  8 18  4  4  2  1  3
  2  5  3  1  1  2  1  1  1  6  2  6  3  2  6  3 10 13 13 12 11  4 21 21
 21 20 21 20 21 21 21 21  9 20 21 21  8 17 16 11 15 15 20 13 19 21 21 21
 21 21 20 21 21 21 21 21 15 18  2  3  4  6  7  4  7 14 11 19 21 19 21 10
 20 21 21 19 32 21 11 13 10 16  6  7 14 21 21  7  7 13 10 13]

In [44]:
print(X_test)

[[[5 True False ... False False False]
  [2 True False ... False False False]]

 [[14 False True ... False False False]
  [7 False True ... False False False]]

 [[21 False False ... False False False]
  [15 False False ... False False False]]

 ...

 [[32 False False ... True False False]
  [21 False False ... True False False]]

 [[7 False False ... False True False]
  [14 False False ... False True False]]

 [[10 False False ... False False True]
  [13 False False ... False False True]]]

In [11]:
def linear_transform(X):
    if len(X.shape) == 3:
        if X.shape[1] == 1:
            X_linear = np.squeeze(X, 1)
        else:
            X_linear = X.reshape((X.shape[0], X.shape[1]* X.shape[2]))
    return X_linear

In [12]:
X_linear = linear_transform(X)
print(X_linear.shape)

(188, 66)

In [13]:
print(X_linear.shape)
print(y.shape)
reg = LinearRegression().fit(X_linear, y)
reg.score(X_linear, y)

(188, 66)
(188,)

0.7605010407888186

In [14]:
X_test_linear = linear_transform(X_test)
print(X_test_linear.shape)

(29, 66)

In [15]:
print(X_test_teams)

['Arsenal', 'Aston Villa', 'Bournemouth', 'Brighton', 'Burnley', 'Cardiff City', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Huddersfield', 'Hull City', 'Leeds United', 'Leicester City', 'Liverpool', 'Man City', 'Man United', 'Newcastle', 'Norwich City', 'Sheffield United', 'Southampton', 'Stoke City', 'Sunderland', 'Swansea', 'Tottenham', 'Watford', 'West Brom', 'West Ham', 'Wolves']

In [16]:
result = reg.predict(X_test_linear)
print(np.array(result))

[ 4.75740051 13.30683899 16.3177948  11.28334045 16.41938782 17.32469177
  6.23901367 12.03869629 13.04429626 16.10661316 20.2842865  20.67167664
 18.34854126 12.852005    3.23130798  1.17868042  3.83911133  8.37016296
 20.80323792 19.67070007 16.45393372 20.57391357 21.12001038 17.81568909
  5.27507019 18.62628174 21.82701111 11.6658783  12.49143982]

In [17]:
inds = np.argsort(result, axis=0)
print(inds)

[15 14 16  0 24  6 17  3 27  7 28 13  8  1  9  2  4 20  5 23 12 25 19 10
 21 11 18 22 26]

In [18]:
for i, ind in enumerate(inds):
    team = X_test_teams[ind]
    res = result[ind]
    print(f"{i+1}th team {team} is {round(res, 2)}")

1th team Man City is 1.18
2th team Liverpool is 3.23
3th team Man United is 3.84
4th team Arsenal is 4.76
5th team Tottenham is 5.28
6th team Chelsea is 6.24
7th team Newcastle is 8.37
8th team Brighton is 11.28
9th team West Ham is 11.67
10th team Crystal Palace is 12.04
11th team Wolves is 12.49
12th team Leicester City is 12.85
13th team Everton is 13.04
14th team Aston Villa is 13.31
15th team Fulham is 16.11
16th team Bournemouth is 16.32
17th team Burnley is 16.42
18th team Southampton is 16.45
19th team Cardiff City is 17.32
20th team Swansea is 17.82
21th team Leeds United is 18.35
22th team Watford is 18.63
23th team Sheffield United is 19.67
24th team Huddersfield is 20.28
25th team Stoke City is 20.57
26th team Hull City is 20.67
27th team Norwich City is 20.8
28th team Sunderland is 21.12
29th team West Brom is 21.83

# LSTM

In [83]:
def set_dataset(X, y):
    train_ds = tf.data.Dataset.from_tensor_slices((X, y))
    return train_ds

def preprocessing(df, sequences):
    vals = df.values
    teams = np.unique(df['team'].values)
    print(teams)
    X = []
    y = []
    X_test = []
    X_test_teams = []

    # df_dummies = pd.get_dummies(df, columns=['team'])
    df_filtered = df.drop(columns=['year'])

    for team in teams:
        df_team = df_filtered.loc[df['team'] == team]
        # print(df_team)
        team_standings = df_team.standing.values
        print(f"team_standings {team_standings}")
        for i in range(0, len(team_standings)):
            print(f"team {team} {i}th year")
            if i + sequences < len(team_standings):
                x_values = team_standings[i:i+sequences]
                print(f"x_values {x_values}")
                X.append(x_values)
                y_value = team_standings[i+sequences]
                print(f"y_value {y_value}")
                y.append(y_value)
            elif i + sequences == len(team_standings):
                x_values = team_standings[i:i+sequences]
                X_test.append(x_values)
                print(f"team {team}")
                X_test_teams.append(team)

    X = np.array(X)
    X = X.reshape(X.shape[0], X.shape[1], 1)
    y = np.array(y)
    X_test = np.array(X_test)
    X_test = X_test.reshape(X_test.shape[0], X_test.shape[1], 1)
    print(X.shape)
    print(y.shape)
    print(X_test.shape)
    return X, y, X_test, X_test_teams

In [84]:
X, y, X_test, X_test_teams = preprocessing(df, n_timesteps)

['Arsenal' 'Aston Villa' 'Bournemouth' 'Brentford' 'Brighton' 'Burnley'
 'Cardiff City' 'Chelsea' 'Crystal Palace' 'Everton' 'Fulham'
 'Huddersfield' 'Hull City' 'Leeds United' 'Leicester City' 'Liverpool'
 'Man City' 'Man United' 'Middlesbrough' 'Newcastle' 'Norwich City'
 'Nottm Forest' 'Sheffield United' 'Southampton' 'Stoke City' 'Sunderland'
 'Swansea' 'Tottenham' 'Watford' 'West Brom' 'West Ham' 'Wolves']
team_standings [3 2 5 6 5 8 8 5 2]
team Arsenal 0th year
x_values [3 2 5]
y_value 6
team Arsenal 1th year
x_values [2 5 6]
y_value 5
team Arsenal 2th year
x_values [5 6 5]
y_value 8
team Arsenal 3th year
x_values [6 5 8]
y_value 8
team Arsenal 4th year
x_values [5 8 8]
y_value 5
team Arsenal 5th year
x_values [8 8 5]
y_value 2
team Arsenal 6th year
team Arsenal
team Arsenal 7th year
team Arsenal 8th year
team_standings [17 20 21 21 21 17 11 14  7]
team Aston Villa 0th year
x_values [17 20 21]
y_value 21
team Aston Villa 1th year
x_values [20 21 21]
y_value 21
team Aston Villa 2th year
x_values [21 21 21]
y_value 17
team Aston Villa 3th year
x_values [21 21 17]
y_value 11
team Aston Villa 4th year
x_values [21 17 11]
y_value 14
team Aston Villa 5th year
x_values [17 11 14]
y_value 7
team Aston Villa 6th year
team Aston Villa
team Aston Villa 7th year
team Aston Villa 8th year
team_standings [21 16  9 12 21 14 18 21 21 15]
team Bournemouth 0th year
x_values [21 16  9]
y_value 12
team Bournemouth 1th year
x_values [16  9 12]
y_value 21
team Bournemouth 2th year
x_values [ 9 12 21]
y_value 14
team Bournemouth 3th year
x_values [12 21 14]
y_value 18
team Bournemouth 4th year
x_values [21 14 18]
y_value 21
team Bournemouth 5th year
x_values [14 18 21]
y_value 21
team Bournemouth 6th year
x_values [18 21 21]
y_value 15
team Bournemouth 7th year
team Bournemouth
team Bournemouth 8th year
team Bournemouth 9th year
team_standings [9]
team Brentford 0th year
team_standings [21 21 21 15 17 15 16  9  6]
team Brighton 0th year
x_values [21 21 21]
y_value 15
team Brighton 1th year
x_values [21 21 15]
y_value 17
team Brighton 2th year
x_values [21 15 17]
y_value 15
team Brighton 3th year
x_values [15 17 15]
y_value 16
team Brighton 4th year
x_values [17 15 16]
y_value 9
team Brighton 5th year
x_values [15 16  9]
y_value 6
team Brighton 6th year
team Brighton
team Brighton 7th year
team Brighton 8th year
team_standings [19 21 16  7 15 10 17 18 21]
team Burnley 0th year
x_values [19 21 16]
y_value 7
team Burnley 1th year
x_values [21 16  7]
y_value 15
team Burnley 2th year
x_values [16  7 15]
y_value 10
team Burnley 3th year
x_values [ 7 15 10]
y_value 17
team Burnley 4th year
x_values [15 10 17]
y_value 18
team Burnley 5th year
x_values [10 17 18]
y_value 21
team Burnley 6th year
team Burnley
team Burnley 7th year
team Burnley 8th year
team_standings [21 21 18]
team Cardiff City 0th year
team Cardiff City
team Cardiff City 1th year
team Cardiff City 2th year
team_standings [ 1 10  1  5  3  4  4  3 12]
team Chelsea 0th year
x_values [ 1 10  1]
y_value 5
team Chelsea 1th year
x_values [10  1  5]
y_value 3
team Chelsea 2th year
x_values [1 5 3]
y_value 4
team Chelsea 3th year
x_values [5 3 4]
y_value 4
team Chelsea 4th year
x_values [3 4 4]
y_value 3
team Chelsea 5th year
x_values [4 4 3]
y_value 12
team Chelsea 6th year
team Chelsea
team Chelsea 7th year
team Chelsea 8th year
team_standings [10 15 14 11 12 14 14 12 11]
team Crystal Palace 0th year
x_values [10 15 14]
y_value 11
team Crystal Palace 1th year
x_values [15 14 11]
y_value 12
team Crystal Palace 2th year
x_values [14 11 12]
y_value 14
team Crystal Palace 3th year
x_values [11 12 14]
y_value 14
team Crystal Palace 4th year
x_values [12 14 14]
y_value 12
team Crystal Palace 5th year
x_values [14 14 12]
y_value 11
team Crystal Palace 6th year
team Crystal Palace
team Crystal Palace 7th year
team Crystal Palace 8th year
team_standings [11 11  7  8  8 12 10 16 17]
team Everton 0th year
x_values [11 11  7]
y_value 8
team Everton 1th year
x_values [11  7  8]
y_value 8
team Everton 2th year
x_values [7 8 8]
y_value 12
team Everton 3th year
x_values [ 8  8 12]
y_value 10
team Everton 4th year
x_values [ 8 12 10]
y_value 16
team Everton 5th year
x_values [12 10 16]
y_value 17
team Everton 6th year
team Everton
team Everton 7th year
team Everton 8th year
team_standings [21 21 21 19 21 18 21 10]
team Fulham 0th year
x_values [21 21 21]
y_value 19
team Fulham 1th year
x_values [21 21 19]
y_value 21
team Fulham 2th year
x_values [21 19 21]
y_value 18
team Fulham 3th year
x_values [19 21 18]
y_value 21
team Fulham 4th year
x_values [21 18 21]
y_value 10
team Fulham 5th year
team Fulham
team Fulham 6th year
team Fulham 7th year
team_standings [21 21 21 16 20 21 21 21]
team Huddersfield 0th year
x_values [21 21 21]
y_value 16
team Huddersfield 1th year
x_values [21 21 16]
y_value 20
team Huddersfield 2th year
x_values [21 16 20]
y_value 21
team Huddersfield 3th year
x_values [16 20 21]
y_value 21
team Huddersfield 4th year
x_values [20 21 21]
y_value 21
team Huddersfield 5th year
team Huddersfield
team Huddersfield 6th year
team Huddersfield 7th year
team_standings [18 21 18 21 21 21 21 21]
team Hull City 0th year
x_values [18 21 18]
y_value 21
team Hull City 1th year
x_values [21 18 21]
y_value 21
team Hull City 2th year
x_values [18 21 21]
y_value 21
team Hull City 3th year
x_values [21 21 21]
y_value 21
team Hull City 4th year
x_values [21 21 21]
y_value 21
team Hull City 5th year
team Hull City
team Hull City 6th year
team Hull City 7th year
team_standings [21 21 21 21 21 21  9 17 19]
team Leeds United 0th year
x_values [21 21 21]
y_value 21
team Leeds United 1th year
x_values [21 21 21]
y_value 21
team Leeds United 2th year
x_values [21 21 21]
y_value 21
team Leeds United 3th year
x_values [21 21 21]
y_value 9
team Leeds United 4th year
x_values [21 21  9]
y_value 17
team Leeds United 5th year
x_values [21  9 17]
y_value 19
team Leeds United 6th year
team Leeds United
team Leeds United 7th year
team Leeds United 8th year
team_standings [14  1 12  9 21  9  5  5  8 18]
team Leicester City 0th year
x_values [14  1 12]
y_value 9
team Leicester City 1th year
x_values [ 1 12  9]
y_value 21
team Leicester City 2th year
x_values [12  9 21]
y_value 9
team Leicester City 3th year
x_values [ 9 21  9]
y_value 5
team Leicester City 4th year
x_values [21  9  5]
y_value 5
team Leicester City 5th year
x_values [9 5 5]
y_value 8
team Leicester City 6th year
x_values [5 5 8]
y_value 18
team Leicester City 7th year
team Leicester City
team Leicester City 8th year
team Leicester City 9th year
team_standings [6 8 4 4 2 1 3 2 5]
team Liverpool 0th year
x_values [6 8 4]
y_value 4
team Liverpool 1th year
x_values [8 4 4]
y_value 2
team Liverpool 2th year
x_values [4 4 2]
y_value 1
team Liverpool 3th year
x_values [4 2 1]
y_value 3
team Liverpool 4th year
x_values [2 1 3]
y_value 2
team Liverpool 5th year
x_values [1 3 2]
y_value 5
team Liverpool 6th year
team Liverpool
team Liverpool 7th year
team Liverpool 8th year
team_standings [2 4 3 1 1 2 1 1 1]
team Man City 0th year
x_values [2 4 3]
y_value 1
team Man City 1th year
x_values [4 3 1]
y_value 1
team Man City 2th year
x_values [3 1 1]
y_value 2
team Man City 3th year
x_values [1 1 2]
y_value 1
team Man City 4th year
x_values [1 2 1]
y_value 1
team Man City 5th year
x_values [2 1 1]
y_value 1
team Man City 6th year
team Man City
team Man City 7th year
team Man City 8th year
team_standings [4 5 6 2 6 3 2 6 3]
team Man United 0th year
x_values [4 5 6]
y_value 2
team Man United 1th year
x_values [5 6 2]
y_value 6
team Man United 2th year
x_values [6 2 6]
y_value 3
team Man United 3th year
x_values [2 6 3]
y_value 2
team Man United 4th year
x_values [6 3 2]
y_value 6
team Man United 5th year
x_values [3 2 6]
y_value 3
team Man United 6th year
team Man United
team Man United 7th year
team Man United 8th year
team_standings [19]
team Middlesbrough 0th year
team_standings [15 18 10 13 13 12 11  4]
team Newcastle 0th year
x_values [15 18 10]
y_value 13
team Newcastle 1th year
x_values [18 10 13]
y_value 13
team Newcastle 2th year
x_values [10 13 13]
y_value 12
team Newcastle 3th year
x_values [13 13 12]
y_value 11
team Newcastle 4th year
x_values [13 12 11]
y_value 4
team Newcastle 5th year
team Newcastle
team Newcastle 6th year
team Newcastle 7th year
team_standings [21 19 21 21 21 20 21 20 21]
team Norwich City 0th year
x_values [21 19 21]
y_value 21
team Norwich City 1th year
x_values [19 21 21]
y_value 21
team Norwich City 2th year
x_values [21 21 21]
y_value 20
team Norwich City 3th year
x_values [21 21 20]
y_value 21
team Norwich City 4th year
x_values [21 20 21]
y_value 20
team Norwich City 5th year
x_values [20 21 20]
y_value 21
team Norwich City 6th year
team Norwich City
team Norwich City 7th year
team Norwich City 8th year
team_standings [16]
team Nottm Forest 0th year
team_standings [21 21 21 21 21  9 20 21 21]
team Sheffield United 0th year
x_values [21 21 21]
y_value 21
team Sheffield United 1th year
x_values [21 21 21]
y_value 21
team Sheffield United 2th year
x_values [21 21 21]
y_value 9
team Sheffield United 3th year
x_values [21 21  9]
y_value 20
team Sheffield United 4th year
x_values [21  9 20]
y_value 21
team Sheffield United 5th year
x_values [ 9 20 21]
y_value 21
team Sheffield United 6th year
team Sheffield United
team Sheffield United 7th year
team Sheffield United 8th year
team_standings [ 7  6  8 17 16 11 15 15 20]
team Southampton 0th year
x_values [7 6 8]
y_value 17
team Southampton 1th year
x_values [ 6  8 17]
y_value 16
team Southampton 2th year
x_values [ 8 17 16]
y_value 11
team Southampton 3th year
x_values [17 16 11]
y_value 15
team Southampton 4th year
x_values [16 11 15]
y_value 15
team Southampton 5th year
x_values [11 15 15]
y_value 20
team Southampton 6th year
team Southampton
team Southampton 7th year
team Southampton 8th year
team_standings [ 9  9 13 19 21 21 21 21 21]
team Stoke City 0th year
x_values [ 9  9 13]
y_value 19
team Stoke City 1th year
x_values [ 9 13 19]
y_value 21
team Stoke City 2th year
x_values [13 19 21]
y_value 21
team Stoke City 3th year
x_values [19 21 21]
y_value 21
team Stoke City 4th year
x_values [21 21 21]
y_value 21
team Stoke City 5th year
x_values [21 21 21]
y_value 21
team Stoke City 6th year
team Stoke City
team Stoke City 7th year
team Stoke City 8th year
team_standings [16 17 20 21 21 21 21 21]
team Sunderland 0th year
x_values [16 17 20]
y_value 21
team Sunderland 1th year
x_values [17 20 21]
y_value 21
team Sunderland 2th year
x_values [20 21 21]
y_value 21
team Sunderland 3th year
x_values [21 21 21]
y_value 21
team Sunderland 4th year
x_values [21 21 21]
y_value 21
team Sunderland 5th year
team Sunderland
team Sunderland 6th year
team Sunderland 7th year
team_standings [ 8 12 15 18]
team Swansea 0th year
x_values [ 8 12 15]
y_value 18
team Swansea 1th year
team Swansea
team Swansea 2th year
team Swansea 3th year
team_standings [3 5 2 3 4 6 7 4 7]
team Tottenham 0th year
x_values [3 5 2]
y_value 3
team Tottenham 1th year
x_values [5 2 3]
y_value 4
team Tottenham 2th year
x_values [2 3 4]
y_value 6
team Tottenham 3th year
x_values [3 4 6]
y_value 7
team Tottenham 4th year
x_values [4 6 7]
y_value 4
team Tottenham 5th year
x_values [6 7 4]
y_value 7
team Tottenham 6th year
team Tottenham
team Tottenham 7th year
team Tottenham 8th year
team_standings [13 17 14 11 19 21 19 21]
team Watford 0th year
x_values [13 17 14]
y_value 11
team Watford 1th year
x_values [17 14 11]
y_value 19
team Watford 2th year
x_values [14 11 19]
y_value 21
team Watford 3th year
x_values [11 19 21]
y_value 19
team Watford 4th year
x_values [19 21 19]
y_value 21
team Watford 5th year
team Watford
team Watford 6th year
team Watford 7th year
team_standings [13 14 10 20 21 21 19 32 21]
team West Brom 0th year
x_values [13 14 10]
y_value 20
team West Brom 1th year
x_values [14 10 20]
y_value 21
team West Brom 2th year
x_values [10 20 21]
y_value 21
team West Brom 3th year
x_values [20 21 21]
y_value 19
team West Brom 4th year
x_values [21 21 19]
y_value 32
team West Brom 5th year
x_values [21 19 32]
y_value 21
team West Brom 6th year
team West Brom
team West Brom 7th year
team West Brom 8th year
team_standings [12  7 11 13 10 16  6  7 14]
team West Ham 0th year
x_values [12  7 11]
y_value 13
team West Ham 1th year
x_values [ 7 11 13]
y_value 10
team West Ham 2th year
x_values [11 13 10]
y_value 16
team West Ham 3th year
x_values [13 10 16]
y_value 6
team West Ham 4th year
x_values [10 16  6]
y_value 7
team West Ham 5th year
x_values [16  6  7]
y_value 14
team West Ham 6th year
team West Ham
team West Ham 7th year
team West Ham 8th year
team_standings [21 21 21 21  7  7 13 10 13]
team Wolves 0th year
x_values [21 21 21]
y_value 21
team Wolves 1th year
x_values [21 21 21]
y_value 7
team Wolves 2th year
x_values [21 21  7]
y_value 7
team Wolves 3th year
x_values [21  7  7]
y_value 13
team Wolves 4th year
x_values [ 7  7 13]
y_value 10
team Wolves 5th year
x_values [ 7 13 10]
y_value 13
team Wolves 6th year
team Wolves
team Wolves 7th year
team Wolves 8th year
(159, 3, 1)
(159,)
(29, 3, 1)

In [85]:
def set_lstm(n_timesteps, n_features, hidden, n_outputs):
    model = tf.keras.Sequential()
    model.add(tf.keras.layers.LSTM(hidden, input_shape=(n_timesteps, n_features)))
    model.add(tf.keras.layers.Dropout(0.1))
    #model.add(Dense(hidden, activation='relu'))
    model.add(tf.keras.layers.Dense(n_outputs, activation='relu'))
    # model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['mse'])
    model.compile(loss='mse', optimizer='adam', metrics=['mse'])
    model.summary()
    return model

def predict(model, X_test):
    lstm_preds = model.predict(X_test)
    inds = np.argsort(lstm_preds[:,0])
    print(inds)
    print(lstm_preds.shape)

    for i, ind in enumerate(inds):
        team = X_test_teams[ind]
        pred = lstm_preds[ind, 0]
        print(f"{i+1}th team {team} is {str(np.round(pred, 1))}")

def train(n_timesteps, n_features, hidden, output_size, batch_size, epochs):
    model = set_lstm(n_timesteps, n_features, hidden, output_size)
    # Compile the model
    # optimizer = tf.keras.optimizers.Adam()
    # model.compile(optimizer=optimizer, loss='mse')

    # train_ds = set_dataset(X, y)
    print(X.shape)
    X_train, X_val = X[:100,:,:], X[100:,:]
    y_train, y_val = y[:100], y[100:]

    model.fit(X, y, epochs=epochs, batch_size=batch_size, verbose=2, validation_split=0.2)
    # evaluate model
    _, accuracy = model.evaluate(X_val, y_val, batch_size=batch_size, verbose=0)

    print(accuracy)
    return model

In [87]:
n_timesteps = 3
n_features = 1
hidden = 64
output_size = 1  # labels are from 1-21
batch_size = 4
epochs = 100

X, y, X_test, X_test_teams = preprocessing(df, n_timesteps)

model = train(n_timesteps, n_features, hidden, output_size, batch_size, epochs)

['Arsenal' 'Aston Villa' 'Bournemouth' 'Brentford' 'Brighton' 'Burnley'
 'Cardiff City' 'Chelsea' 'Crystal Palace' 'Everton' 'Fulham'
 'Huddersfield' 'Hull City' 'Leeds United' 'Leicester City' 'Liverpool'
 'Man City' 'Man United' 'Middlesbrough' 'Newcastle' 'Norwich City'
 'Nottm Forest' 'Sheffield United' 'Southampton' 'Stoke City' 'Sunderland'
 'Swansea' 'Tottenham' 'Watford' 'West Brom' 'West Ham' 'Wolves']
team_standings [3 2 5 6 5 8 8 5 2]
team Arsenal 0th year
x_values [3 2 5]
y_value 6
team Arsenal 1th year
x_values [2 5 6]
y_value 5
team Arsenal 2th year
x_values [5 6 5]
y_value 8
team Arsenal 3th year
x_values [6 5 8]
y_value 8
team Arsenal 4th year
x_values [5 8 8]
y_value 5
team Arsenal 5th year
x_values [8 8 5]
y_value 2
team Arsenal 6th year
team Arsenal
team Arsenal 7th year
team Arsenal 8th year
team_standings [17 20 21 21 21 17 11 14  7]
team Aston Villa 0th year
x_values [17 20 21]
y_value 21
team Aston Villa 1th year
x_values [20 21 21]
y_value 21
team Aston Villa 2th year
x_values [21 21 21]
y_value 17
team Aston Villa 3th year
x_values [21 21 17]
y_value 11
team Aston Villa 4th year
x_values [21 17 11]
y_value 14
team Aston Villa 5th year
x_values [17 11 14]
y_value 7
team Aston Villa 6th year
team Aston Villa
team Aston Villa 7th year
team Aston Villa 8th year
team_standings [21 16  9 12 21 14 18 21 21 15]
team Bournemouth 0th year
x_values [21 16  9]
y_value 12
team Bournemouth 1th year
x_values [16  9 12]
y_value 21
team Bournemouth 2th year
x_values [ 9 12 21]
y_value 14
team Bournemouth 3th year
x_values [12 21 14]
y_value 18
team Bournemouth 4th year
x_values [21 14 18]
y_value 21
team Bournemouth 5th year
x_values [14 18 21]
y_value 21
team Bournemouth 6th year
x_values [18 21 21]
y_value 15
team Bournemouth 7th year
team Bournemouth
team Bournemouth 8th year
team Bournemouth 9th year
team_standings [9]
team Brentford 0th year
team_standings [21 21 21 15 17 15 16  9  6]
team Brighton 0th year
x_values [21 21 21]
y_value 15
team Brighton 1th year
x_values [21 21 15]
y_value 17
team Brighton 2th year
x_values [21 15 17]
y_value 15
team Brighton 3th year
x_values [15 17 15]
y_value 16
team Brighton 4th year
x_values [17 15 16]
y_value 9
team Brighton 5th year
x_values [15 16  9]
y_value 6
team Brighton 6th year
team Brighton
team Brighton 7th year
team Brighton 8th year
team_standings [19 21 16  7 15 10 17 18 21]
team Burnley 0th year
x_values [19 21 16]
y_value 7
team Burnley 1th year
x_values [21 16  7]
y_value 15
team Burnley 2th year
x_values [16  7 15]
y_value 10
team Burnley 3th year
x_values [ 7 15 10]
y_value 17
team Burnley 4th year
x_values [15 10 17]
y_value 18
team Burnley 5th year
x_values [10 17 18]
y_value 21
team Burnley 6th year
team Burnley
team Burnley 7th year
team Burnley 8th year
team_standings [21 21 18]
team Cardiff City 0th year
team Cardiff City
team Cardiff City 1th year
team Cardiff City 2th year
team_standings [ 1 10  1  5  3  4  4  3 12]
team Chelsea 0th year
x_values [ 1 10  1]
y_value 5
team Chelsea 1th year
x_values [10  1  5]
y_value 3
team Chelsea 2th year
x_values [1 5 3]
y_value 4
team Chelsea 3th year
x_values [5 3 4]
y_value 4
team Chelsea 4th year
x_values [3 4 4]
y_value 3
team Chelsea 5th year
x_values [4 4 3]
y_value 12
team Chelsea 6th year
team Chelsea
team Chelsea 7th year
team Chelsea 8th year
team_standings [10 15 14 11 12 14 14 12 11]
team Crystal Palace 0th year
x_values [10 15 14]
y_value 11
team Crystal Palace 1th year
x_values [15 14 11]
y_value 12
team Crystal Palace 2th year
x_values [14 11 12]
y_value 14
team Crystal Palace 3th year
x_values [11 12 14]
y_value 14
team Crystal Palace 4th year
x_values [12 14 14]
y_value 12
team Crystal Palace 5th year
x_values [14 14 12]
y_value 11
team Crystal Palace 6th year
team Crystal Palace
team Crystal Palace 7th year
team Crystal Palace 8th year
team_standings [11 11  7  8  8 12 10 16 17]
team Everton 0th year
x_values [11 11  7]
y_value 8
team Everton 1th year
x_values [11  7  8]
y_value 8
team Everton 2th year
x_values [7 8 8]
y_value 12
team Everton 3th year
x_values [ 8  8 12]
y_value 10
team Everton 4th year
x_values [ 8 12 10]
y_value 16
team Everton 5th year
x_values [12 10 16]
y_value 17
team Everton 6th year
team Everton
team Everton 7th year
team Everton 8th year
team_standings [21 21 21 19 21 18 21 10]
team Fulham 0th year
x_values [21 21 21]
y_value 19
team Fulham 1th year
x_values [21 21 19]
y_value 21
team Fulham 2th year
x_values [21 19 21]
y_value 18
team Fulham 3th year
x_values [19 21 18]
y_value 21
team Fulham 4th year
x_values [21 18 21]
y_value 10
team Fulham 5th year
team Fulham
team Fulham 6th year
team Fulham 7th year
team_standings [21 21 21 16 20 21 21 21]
team Huddersfield 0th year
x_values [21 21 21]
y_value 16
team Huddersfield 1th year
x_values [21 21 16]
y_value 20
team Huddersfield 2th year
x_values [21 16 20]
y_value 21
team Huddersfield 3th year
x_values [16 20 21]
y_value 21
team Huddersfield 4th year
x_values [20 21 21]
y_value 21
team Huddersfield 5th year
team Huddersfield
team Huddersfield 6th year
team Huddersfield 7th year
team_standings [18 21 18 21 21 21 21 21]
team Hull City 0th year
x_values [18 21 18]
y_value 21
team Hull City 1th year
x_values [21 18 21]
y_value 21
team Hull City 2th year
x_values [18 21 21]
y_value 21
team Hull City 3th year
x_values [21 21 21]
y_value 21
team Hull City 4th year
x_values [21 21 21]
y_value 21
team Hull City 5th year
team Hull City
team Hull City 6th year
team Hull City 7th year
team_standings [21 21 21 21 21 21  9 17 19]
team Leeds United 0th year
x_values [21 21 21]
y_value 21
team Leeds United 1th year
x_values [21 21 21]
y_value 21
team Leeds United 2th year
x_values [21 21 21]
y_value 21
team Leeds United 3th year
x_values [21 21 21]
y_value 9
team Leeds United 4th year
x_values [21 21  9]
y_value 17
team Leeds United 5th year
x_values [21  9 17]
y_value 19
team Leeds United 6th year
team Leeds United
team Leeds United 7th year
team Leeds United 8th year
team_standings [14  1 12  9 21  9  5  5  8 18]
team Leicester City 0th year
x_values [14  1 12]
y_value 9
team Leicester City 1th year
x_values [ 1 12  9]
y_value 21
team Leicester City 2th year
x_values [12  9 21]
y_value 9
team Leicester City 3th year
x_values [ 9 21  9]
y_value 5
team Leicester City 4th year
x_values [21  9  5]
y_value 5
team Leicester City 5th year
x_values [9 5 5]
y_value 8
team Leicester City 6th year
x_values [5 5 8]
y_value 18
team Leicester City 7th year
team Leicester City
team Leicester City 8th year
team Leicester City 9th year
team_standings [6 8 4 4 2 1 3 2 5]
team Liverpool 0th year
x_values [6 8 4]
y_value 4
team Liverpool 1th year
x_values [8 4 4]
y_value 2
team Liverpool 2th year
x_values [4 4 2]
y_value 1
team Liverpool 3th year
x_values [4 2 1]
y_value 3
team Liverpool 4th year
x_values [2 1 3]
y_value 2
team Liverpool 5th year
x_values [1 3 2]
y_value 5
team Liverpool 6th year
team Liverpool
team Liverpool 7th year
team Liverpool 8th year
team_standings [2 4 3 1 1 2 1 1 1]
team Man City 0th year
x_values [2 4 3]
y_value 1
team Man City 1th year
x_values [4 3 1]
y_value 1
team Man City 2th year
x_values [3 1 1]
y_value 2
team Man City 3th year
x_values [1 1 2]
y_value 1
team Man City 4th year
x_values [1 2 1]
y_value 1
team Man City 5th year
x_values [2 1 1]
y_value 1
team Man City 6th year
team Man City
team Man City 7th year
team Man City 8th year
team_standings [4 5 6 2 6 3 2 6 3]
team Man United 0th year
x_values [4 5 6]
y_value 2
team Man United 1th year
x_values [5 6 2]
y_value 6
team Man United 2th year
x_values [6 2 6]
y_value 3
team Man United 3th year
x_values [2 6 3]
y_value 2
team Man United 4th year
x_values [6 3 2]
y_value 6
team Man United 5th year
x_values [3 2 6]
y_value 3
team Man United 6th year
team Man United
team Man United 7th year
team Man United 8th year
team_standings [19]
team Middlesbrough 0th year
team_standings [15 18 10 13 13 12 11  4]
team Newcastle 0th year
x_values [15 18 10]
y_value 13
team Newcastle 1th year
x_values [18 10 13]
y_value 13
team Newcastle 2th year
x_values [10 13 13]
y_value 12
team Newcastle 3th year
x_values [13 13 12]
y_value 11
team Newcastle 4th year
x_values [13 12 11]
y_value 4
team Newcastle 5th year
team Newcastle
team Newcastle 6th year
team Newcastle 7th year
team_standings [21 19 21 21 21 20 21 20 21]
team Norwich City 0th year
x_values [21 19 21]
y_value 21
team Norwich City 1th year
x_values [19 21 21]
y_value 21
team Norwich City 2th year
x_values [21 21 21]
y_value 20
team Norwich City 3th year
x_values [21 21 20]
y_value 21
team Norwich City 4th year
x_values [21 20 21]
y_value 20
team Norwich City 5th year
x_values [20 21 20]
y_value 21
team Norwich City 6th year
team Norwich City
team Norwich City 7th year
team Norwich City 8th year
team_standings [16]
team Nottm Forest 0th year
team_standings [21 21 21 21 21  9 20 21 21]
team Sheffield United 0th year
x_values [21 21 21]
y_value 21
team Sheffield United 1th year
x_values [21 21 21]
y_value 21
team Sheffield United 2th year
x_values [21 21 21]
y_value 9
team Sheffield United 3th year
x_values [21 21  9]
y_value 20
team Sheffield United 4th year
x_values [21  9 20]
y_value 21
team Sheffield United 5th year
x_values [ 9 20 21]
y_value 21
team Sheffield United 6th year
team Sheffield United
team Sheffield United 7th year
team Sheffield United 8th year
team_standings [ 7  6  8 17 16 11 15 15 20]
team Southampton 0th year
x_values [7 6 8]
y_value 17
team Southampton 1th year
x_values [ 6  8 17]
y_value 16
team Southampton 2th year
x_values [ 8 17 16]
y_value 11
team Southampton 3th year
x_values [17 16 11]
y_value 15
team Southampton 4th year
x_values [16 11 15]
y_value 15
team Southampton 5th year
x_values [11 15 15]
y_value 20
team Southampton 6th year
team Southampton
team Southampton 7th year
team Southampton 8th year
team_standings [ 9  9 13 19 21 21 21 21 21]
team Stoke City 0th year
x_values [ 9  9 13]
y_value 19
team Stoke City 1th year
x_values [ 9 13 19]
y_value 21
team Stoke City 2th year
x_values [13 19 21]
y_value 21
team Stoke City 3th year
x_values [19 21 21]
y_value 21
team Stoke City 4th year
x_values [21 21 21]
y_value 21
team Stoke City 5th year
x_values [21 21 21]
y_value 21
team Stoke City 6th year
team Stoke City
team Stoke City 7th year
team Stoke City 8th year
team_standings [16 17 20 21 21 21 21 21]
team Sunderland 0th year
x_values [16 17 20]
y_value 21
team Sunderland 1th year
x_values [17 20 21]
y_value 21
team Sunderland 2th year
x_values [20 21 21]
y_value 21
team Sunderland 3th year
x_values [21 21 21]
y_value 21
team Sunderland 4th year
x_values [21 21 21]
y_value 21
team Sunderland 5th year
team Sunderland
team Sunderland 6th year
team Sunderland 7th year
team_standings [ 8 12 15 18]
team Swansea 0th year
x_values [ 8 12 15]
y_value 18
team Swansea 1th year
team Swansea
team Swansea 2th year
team Swansea 3th year
team_standings [3 5 2 3 4 6 7 4 7]
team Tottenham 0th year
x_values [3 5 2]
y_value 3
team Tottenham 1th year
x_values [5 2 3]
y_value 4
team Tottenham 2th year
x_values [2 3 4]
y_value 6
team Tottenham 3th year
x_values [3 4 6]
y_value 7
team Tottenham 4th year
x_values [4 6 7]
y_value 4
team Tottenham 5th year
x_values [6 7 4]
y_value 7
team Tottenham 6th year
team Tottenham
team Tottenham 7th year
team Tottenham 8th year
team_standings [13 17 14 11 19 21 19 21]
team Watford 0th year
x_values [13 17 14]
y_value 11
team Watford 1th year
x_values [17 14 11]
y_value 19
team Watford 2th year
x_values [14 11 19]
y_value 21
team Watford 3th year
x_values [11 19 21]
y_value 19
team Watford 4th year
x_values [19 21 19]
y_value 21
team Watford 5th year
team Watford
team Watford 6th year
team Watford 7th year
team_standings [13 14 10 20 21 21 19 32 21]
team West Brom 0th year
x_values [13 14 10]
y_value 20
team West Brom 1th year
x_values [14 10 20]
y_value 21
team West Brom 2th year
x_values [10 20 21]
y_value 21
team West Brom 3th year
x_values [20 21 21]
y_value 19
team West Brom 4th year
x_values [21 21 19]
y_value 32
team West Brom 5th year
x_values [21 19 32]
y_value 21
team West Brom 6th year
team West Brom
team West Brom 7th year
team West Brom 8th year
team_standings [12  7 11 13 10 16  6  7 14]
team West Ham 0th year
x_values [12  7 11]
y_value 13
team West Ham 1th year
x_values [ 7 11 13]
y_value 10
team West Ham 2th year
x_values [11 13 10]
y_value 16
team West Ham 3th year
x_values [13 10 16]
y_value 6
team West Ham 4th year
x_values [10 16  6]
y_value 7
team West Ham 5th year
x_values [16  6  7]
y_value 14
team West Ham 6th year
team West Ham
team West Ham 7th year
team West Ham 8th year
team_standings [21 21 21 21  7  7 13 10 13]
team Wolves 0th year
x_values [21 21 21]
y_value 21
team Wolves 1th year
x_values [21 21 21]
y_value 7
team Wolves 2th year
x_values [21 21  7]
y_value 7
team Wolves 3th year
x_values [21  7  7]
y_value 13
team Wolves 4th year
x_values [ 7  7 13]
y_value 10
team Wolves 5th year
x_values [ 7 13 10]
y_value 13
team Wolves 6th year
team Wolves
team Wolves 7th year
team Wolves 8th year
(159, 3, 1)
(159,)
(29, 3, 1)
Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_4 (LSTM)               (None, 64)                16896

 dropout_4 (Dropout)         (None, 64)                0

 dense_4 (Dense)             (None, 1)                 65

=================================================================
Total params: 16,961
Trainable params: 16,961
Non-trainable params: 0
_________________________________________________________________
(159, 3, 1)
Epoch 1/100

2023-08-09 21:52:27.884627: I tensorflow/stream_executor/cuda/cuda_dnn.cc:366] Loaded cuDNN version 8902
2023-08-09 21:52:28.133645: I tensorflow/stream_executor/cuda/cuda_blas.cc:1774] TensorFloat-32 will be used for the matrix multiplication. This will only be logged once.

32/32 - 4s - loss: 177.1159 - mse: 177.1159 - val_loss: 153.1549 - val_mse: 153.1549 - 4s/epoch - 123ms/step
Epoch 2/100
32/32 - 0s - loss: 102.2041 - mse: 102.2041 - val_loss: 85.7483 - val_mse: 85.7483 - 146ms/epoch - 5ms/step
Epoch 3/100
32/32 - 0s - loss: 59.4819 - mse: 59.4819 - val_loss: 56.9433 - val_mse: 56.9433 - 153ms/epoch - 5ms/step
Epoch 4/100
32/32 - 0s - loss: 38.7682 - mse: 38.7682 - val_loss: 41.4926 - val_mse: 41.4926 - 151ms/epoch - 5ms/step
Epoch 5/100
32/32 - 0s - loss: 28.9900 - mse: 28.9900 - val_loss: 35.5447 - val_mse: 35.5447 - 134ms/epoch - 4ms/step
Epoch 6/100
32/32 - 0s - loss: 25.1354 - mse: 25.1354 - val_loss: 31.4797 - val_mse: 31.4797 - 123ms/epoch - 4ms/step
Epoch 7/100
32/32 - 0s - loss: 20.8156 - mse: 20.8156 - val_loss: 30.3314 - val_mse: 30.3314 - 118ms/epoch - 4ms/step
Epoch 8/100
32/32 - 0s - loss: 18.7433 - mse: 18.7433 - val_loss: 28.7365 - val_mse: 28.7365 - 119ms/epoch - 4ms/step
Epoch 9/100
32/32 - 0s - loss: 18.3209 - mse: 18.3209 - val_loss: 26.7032 - val_mse: 26.7032 - 117ms/epoch - 4ms/step
Epoch 10/100
32/32 - 0s - loss: 18.2773 - mse: 18.2773 - val_loss: 27.0434 - val_mse: 27.0434 - 116ms/epoch - 4ms/step
Epoch 11/100
32/32 - 0s - loss: 17.2014 - mse: 17.2014 - val_loss: 26.2156 - val_mse: 26.2156 - 116ms/epoch - 4ms/step
Epoch 12/100
32/32 - 0s - loss: 16.3697 - mse: 16.3697 - val_loss: 25.9772 - val_mse: 25.9772 - 121ms/epoch - 4ms/step
Epoch 13/100
32/32 - 0s - loss: 16.2470 - mse: 16.2470 - val_loss: 28.2157 - val_mse: 28.2157 - 119ms/epoch - 4ms/step
Epoch 14/100
32/32 - 0s - loss: 16.1316 - mse: 16.1316 - val_loss: 25.4027 - val_mse: 25.4027 - 127ms/epoch - 4ms/step
Epoch 15/100
32/32 - 0s - loss: 16.1203 - mse: 16.1203 - val_loss: 27.8603 - val_mse: 27.8603 - 120ms/epoch - 4ms/step
Epoch 16/100
32/32 - 0s - loss: 17.2941 - mse: 17.2941 - val_loss: 26.0290 - val_mse: 26.0290 - 115ms/epoch - 4ms/step
Epoch 17/100
32/32 - 0s - loss: 15.8356 - mse: 15.8356 - val_loss: 25.3736 - val_mse: 25.3736 - 116ms/epoch - 4ms/step
Epoch 18/100
32/32 - 0s - loss: 16.2317 - mse: 16.2317 - val_loss: 25.8398 - val_mse: 25.8398 - 111ms/epoch - 3ms/step
Epoch 19/100
32/32 - 0s - loss: 14.8841 - mse: 14.8841 - val_loss: 25.1311 - val_mse: 25.1311 - 115ms/epoch - 4ms/step
Epoch 20/100
32/32 - 0s - loss: 15.5507 - mse: 15.5507 - val_loss: 25.7362 - val_mse: 25.7362 - 113ms/epoch - 4ms/step
Epoch 21/100
32/32 - 0s - loss: 15.8024 - mse: 15.8024 - val_loss: 25.2851 - val_mse: 25.2851 - 113ms/epoch - 4ms/step
Epoch 22/100
32/32 - 0s - loss: 15.5197 - mse: 15.5197 - val_loss: 27.9294 - val_mse: 27.9294 - 115ms/epoch - 4ms/step
Epoch 23/100
32/32 - 0s - loss: 14.8539 - mse: 14.8539 - val_loss: 25.1120 - val_mse: 25.1120 - 115ms/epoch - 4ms/step
Epoch 24/100
32/32 - 0s - loss: 15.9570 - mse: 15.9570 - val_loss: 28.0036 - val_mse: 28.0036 - 112ms/epoch - 3ms/step
Epoch 25/100
32/32 - 0s - loss: 15.3492 - mse: 15.3492 - val_loss: 25.3500 - val_mse: 25.3500 - 114ms/epoch - 4ms/step
Epoch 26/100
32/32 - 0s - loss: 16.0127 - mse: 16.0127 - val_loss: 26.1506 - val_mse: 26.1506 - 121ms/epoch - 4ms/step
Epoch 27/100
32/32 - 0s - loss: 15.7933 - mse: 15.7933 - val_loss: 25.2878 - val_mse: 25.2878 - 117ms/epoch - 4ms/step
Epoch 28/100
32/32 - 0s - loss: 14.2771 - mse: 14.2771 - val_loss: 28.0014 - val_mse: 28.0014 - 118ms/epoch - 4ms/step
Epoch 29/100
32/32 - 0s - loss: 15.0211 - mse: 15.0211 - val_loss: 24.7451 - val_mse: 24.7451 - 113ms/epoch - 4ms/step
Epoch 30/100
32/32 - 0s - loss: 16.7063 - mse: 16.7063 - val_loss: 24.6330 - val_mse: 24.6330 - 113ms/epoch - 4ms/step
Epoch 31/100
32/32 - 0s - loss: 15.5961 - mse: 15.5961 - val_loss: 26.8295 - val_mse: 26.8295 - 119ms/epoch - 4ms/step
Epoch 32/100
32/32 - 0s - loss: 15.4151 - mse: 15.4151 - val_loss: 24.9944 - val_mse: 24.9944 - 131ms/epoch - 4ms/step
Epoch 33/100
32/32 - 0s - loss: 14.1580 - mse: 14.1580 - val_loss: 26.2045 - val_mse: 26.2045 - 122ms/epoch - 4ms/step
Epoch 34/100
32/32 - 0s - loss: 15.2400 - mse: 15.2400 - val_loss: 25.7674 - val_mse: 25.7674 - 118ms/epoch - 4ms/step
Epoch 35/100
32/32 - 0s - loss: 15.3082 - mse: 15.3082 - val_loss: 24.9429 - val_mse: 24.9429 - 120ms/epoch - 4ms/step
Epoch 36/100
32/32 - 0s - loss: 16.1443 - mse: 16.1443 - val_loss: 26.3709 - val_mse: 26.3709 - 115ms/epoch - 4ms/step
Epoch 37/100
32/32 - 0s - loss: 15.0451 - mse: 15.0451 - val_loss: 25.5667 - val_mse: 25.5667 - 115ms/epoch - 4ms/step
Epoch 38/100
32/32 - 0s - loss: 15.7990 - mse: 15.7990 - val_loss: 25.5983 - val_mse: 25.5983 - 115ms/epoch - 4ms/step
Epoch 39/100
32/32 - 0s - loss: 16.0725 - mse: 16.0725 - val_loss: 25.8847 - val_mse: 25.8847 - 114ms/epoch - 4ms/step
Epoch 40/100
32/32 - 0s - loss: 15.1549 - mse: 15.1549 - val_loss: 25.2820 - val_mse: 25.2820 - 111ms/epoch - 3ms/step
Epoch 41/100
32/32 - 0s - loss: 15.6813 - mse: 15.6813 - val_loss: 26.6788 - val_mse: 26.6788 - 112ms/epoch - 4ms/step
Epoch 42/100
32/32 - 0s - loss: 15.3285 - mse: 15.3285 - val_loss: 26.6649 - val_mse: 26.6649 - 115ms/epoch - 4ms/step
Epoch 43/100
32/32 - 0s - loss: 16.0335 - mse: 16.0335 - val_loss: 25.5449 - val_mse: 25.5449 - 113ms/epoch - 4ms/step
Epoch 44/100
32/32 - 0s - loss: 15.6265 - mse: 15.6265 - val_loss: 27.1170 - val_mse: 27.1170 - 114ms/epoch - 4ms/step
Epoch 45/100
32/32 - 0s - loss: 15.3240 - mse: 15.3240 - val_loss: 25.6016 - val_mse: 25.6016 - 114ms/epoch - 4ms/step
Epoch 46/100
32/32 - 0s - loss: 15.5815 - mse: 15.5815 - val_loss: 26.6757 - val_mse: 26.6757 - 115ms/epoch - 4ms/step
Epoch 47/100
32/32 - 0s - loss: 14.9725 - mse: 14.9725 - val_loss: 24.7351 - val_mse: 24.7351 - 110ms/epoch - 3ms/step
Epoch 48/100
32/32 - 0s - loss: 14.9296 - mse: 14.9296 - val_loss: 25.0403 - val_mse: 25.0403 - 115ms/epoch - 4ms/step
Epoch 49/100
32/32 - 0s - loss: 14.9837 - mse: 14.9837 - val_loss: 26.9486 - val_mse: 26.9486 - 110ms/epoch - 3ms/step
Epoch 50/100
32/32 - 0s - loss: 15.0644 - mse: 15.0644 - val_loss: 24.8736 - val_mse: 24.8736 - 109ms/epoch - 3ms/step
Epoch 51/100
32/32 - 0s - loss: 15.4733 - mse: 15.4733 - val_loss: 25.1566 - val_mse: 25.1566 - 113ms/epoch - 4ms/step
Epoch 52/100
32/32 - 0s - loss: 15.4785 - mse: 15.4785 - val_loss: 25.3556 - val_mse: 25.3556 - 114ms/epoch - 4ms/step
Epoch 53/100
32/32 - 0s - loss: 15.3625 - mse: 15.3625 - val_loss: 26.6478 - val_mse: 26.6478 - 113ms/epoch - 4ms/step
Epoch 54/100
32/32 - 0s - loss: 15.1150 - mse: 15.1150 - val_loss: 24.9718 - val_mse: 24.9718 - 112ms/epoch - 4ms/step
Epoch 55/100
32/32 - 0s - loss: 16.1635 - mse: 16.1635 - val_loss: 26.8286 - val_mse: 26.8286 - 109ms/epoch - 3ms/step
Epoch 56/100
32/32 - 0s - loss: 15.4522 - mse: 15.4522 - val_loss: 25.7514 - val_mse: 25.7514 - 120ms/epoch - 4ms/step
Epoch 57/100
32/32 - 0s - loss: 14.8522 - mse: 14.8522 - val_loss: 26.8249 - val_mse: 26.8249 - 114ms/epoch - 4ms/step
Epoch 58/100
32/32 - 0s - loss: 15.0078 - mse: 15.0078 - val_loss: 25.9480 - val_mse: 25.9480 - 111ms/epoch - 3ms/step
Epoch 59/100
32/32 - 0s - loss: 14.9399 - mse: 14.9399 - val_loss: 26.0585 - val_mse: 26.0585 - 110ms/epoch - 3ms/step
Epoch 60/100
32/32 - 0s - loss: 14.8572 - mse: 14.8572 - val_loss: 25.3004 - val_mse: 25.3004 - 112ms/epoch - 3ms/step
Epoch 61/100
32/32 - 0s - loss: 13.8840 - mse: 13.8840 - val_loss: 26.9364 - val_mse: 26.9364 - 114ms/epoch - 4ms/step
Epoch 62/100
32/32 - 0s - loss: 14.5918 - mse: 14.5918 - val_loss: 26.8837 - val_mse: 26.8837 - 117ms/epoch - 4ms/step
Epoch 63/100
32/32 - 0s - loss: 15.7543 - mse: 15.7543 - val_loss: 25.4021 - val_mse: 25.4021 - 115ms/epoch - 4ms/step
Epoch 64/100
32/32 - 0s - loss: 14.5804 - mse: 14.5804 - val_loss: 25.6826 - val_mse: 25.6826 - 112ms/epoch - 4ms/step
Epoch 65/100
32/32 - 0s - loss: 14.9636 - mse: 14.9636 - val_loss: 25.9005 - val_mse: 25.9005 - 113ms/epoch - 4ms/step
Epoch 66/100
32/32 - 0s - loss: 14.0893 - mse: 14.0893 - val_loss: 25.4124 - val_mse: 25.4124 - 115ms/epoch - 4ms/step
Epoch 67/100
32/32 - 0s - loss: 15.0247 - mse: 15.0247 - val_loss: 25.8868 - val_mse: 25.8868 - 113ms/epoch - 4ms/step
Epoch 68/100
32/32 - 0s - loss: 15.6063 - mse: 15.6063 - val_loss: 25.6151 - val_mse: 25.6151 - 113ms/epoch - 4ms/step
Epoch 69/100
32/32 - 0s - loss: 15.4479 - mse: 15.4479 - val_loss: 26.3217 - val_mse: 26.3217 - 112ms/epoch - 3ms/step
Epoch 70/100
32/32 - 0s - loss: 15.4350 - mse: 15.4350 - val_loss: 26.0220 - val_mse: 26.0220 - 111ms/epoch - 3ms/step
Epoch 71/100
32/32 - 0s - loss: 13.7472 - mse: 13.7472 - val_loss: 25.9812 - val_mse: 25.9812 - 112ms/epoch - 3ms/step
Epoch 72/100
32/32 - 0s - loss: 14.6906 - mse: 14.6906 - val_loss: 25.8598 - val_mse: 25.8598 - 112ms/epoch - 4ms/step
Epoch 73/100
32/32 - 0s - loss: 14.5082 - mse: 14.5082 - val_loss: 26.2675 - val_mse: 26.2675 - 113ms/epoch - 4ms/step
Epoch 74/100
32/32 - 0s - loss: 15.1536 - mse: 15.1536 - val_loss: 26.2815 - val_mse: 26.2815 - 113ms/epoch - 4ms/step
Epoch 75/100
32/32 - 0s - loss: 14.5677 - mse: 14.5677 - val_loss: 26.2150 - val_mse: 26.2150 - 113ms/epoch - 4ms/step
Epoch 76/100
32/32 - 0s - loss: 14.9625 - mse: 14.9625 - val_loss: 27.3557 - val_mse: 27.3557 - 115ms/epoch - 4ms/step
Epoch 77/100
32/32 - 0s - loss: 13.9879 - mse: 13.9879 - val_loss: 25.7472 - val_mse: 25.7472 - 112ms/epoch - 3ms/step
Epoch 78/100
32/32 - 0s - loss: 14.7155 - mse: 14.7155 - val_loss: 26.8275 - val_mse: 26.8275 - 112ms/epoch - 4ms/step
Epoch 79/100
32/32 - 0s - loss: 15.3333 - mse: 15.3333 - val_loss: 26.0018 - val_mse: 26.0018 - 110ms/epoch - 3ms/step
Epoch 80/100
32/32 - 0s - loss: 14.3787 - mse: 14.3787 - val_loss: 27.2330 - val_mse: 27.2330 - 114ms/epoch - 4ms/step
Epoch 81/100
32/32 - 0s - loss: 14.6519 - mse: 14.6519 - val_loss: 27.0333 - val_mse: 27.0333 - 113ms/epoch - 4ms/step
Epoch 82/100
32/32 - 0s - loss: 15.1422 - mse: 15.1422 - val_loss: 25.7546 - val_mse: 25.7546 - 113ms/epoch - 4ms/step
Epoch 83/100
32/32 - 0s - loss: 13.4301 - mse: 13.4301 - val_loss: 26.6952 - val_mse: 26.6952 - 116ms/epoch - 4ms/step
Epoch 84/100
32/32 - 0s - loss: 14.0481 - mse: 14.0481 - val_loss: 26.5534 - val_mse: 26.5534 - 112ms/epoch - 4ms/step
Epoch 85/100
32/32 - 0s - loss: 13.7625 - mse: 13.7625 - val_loss: 26.4558 - val_mse: 26.4558 - 112ms/epoch - 4ms/step
Epoch 86/100
32/32 - 0s - loss: 15.9947 - mse: 15.9947 - val_loss: 26.9420 - val_mse: 26.9420 - 111ms/epoch - 3ms/step
Epoch 87/100
32/32 - 0s - loss: 14.2209 - mse: 14.2209 - val_loss: 26.9978 - val_mse: 26.9978 - 111ms/epoch - 3ms/step
Epoch 88/100
32/32 - 0s - loss: 14.4941 - mse: 14.4941 - val_loss: 26.9296 - val_mse: 26.9296 - 112ms/epoch - 3ms/step
Epoch 89/100
32/32 - 0s - loss: 14.0111 - mse: 14.0111 - val_loss: 27.3012 - val_mse: 27.3012 - 112ms/epoch - 3ms/step
Epoch 90/100
32/32 - 0s - loss: 14.0788 - mse: 14.0788 - val_loss: 27.2713 - val_mse: 27.2713 - 113ms/epoch - 4ms/step
Epoch 91/100
32/32 - 0s - loss: 14.1196 - mse: 14.1196 - val_loss: 27.3087 - val_mse: 27.3087 - 113ms/epoch - 4ms/step
Epoch 92/100
32/32 - 0s - loss: 15.2222 - mse: 15.2222 - val_loss: 27.0656 - val_mse: 27.0656 - 114ms/epoch - 4ms/step
Epoch 93/100
32/32 - 0s - loss: 14.2867 - mse: 14.2867 - val_loss: 27.4949 - val_mse: 27.4949 - 117ms/epoch - 4ms/step
Epoch 94/100
32/32 - 0s - loss: 14.4779 - mse: 14.4779 - val_loss: 26.4050 - val_mse: 26.4050 - 116ms/epoch - 4ms/step
Epoch 95/100
32/32 - 0s - loss: 14.0677 - mse: 14.0677 - val_loss: 27.6401 - val_mse: 27.6401 - 116ms/epoch - 4ms/step
Epoch 96/100
32/32 - 0s - loss: 13.6891 - mse: 13.6891 - val_loss: 26.5086 - val_mse: 26.5086 - 113ms/epoch - 4ms/step
Epoch 97/100
32/32 - 0s - loss: 14.5130 - mse: 14.5130 - val_loss: 27.1751 - val_mse: 27.1751 - 113ms/epoch - 4ms/step
Epoch 98/100
32/32 - 0s - loss: 14.1576 - mse: 14.1576 - val_loss: 26.3458 - val_mse: 26.3458 - 110ms/epoch - 3ms/step
Epoch 99/100
32/32 - 0s - loss: 14.6878 - mse: 14.6878 - val_loss: 27.9128 - val_mse: 27.9128 - 109ms/epoch - 3ms/step
Epoch 100/100
32/32 - 0s - loss: 15.1711 - mse: 15.1711 - val_loss: 28.1745 - val_mse: 28.1745 - 112ms/epoch - 3ms/step
21.36713218688965

In [88]:
predict(model, X_test)

[15 16  0 14 17  3 24  1  6  7 28  9 27  2  8 13 23  5 12 20  4 25 18 19
 21 10 22 11 26]
(29, 1)
1th team Man City is 0.7
2th team Man United is 3.1
3th team Arsenal is 4.0
4th team Liverpool is 4.4
5th team Newcastle is 5.1
6th team Brighton is 5.6
7th team Tottenham is 7.2
8th team Aston Villa is 8.9
9th team Chelsea is 8.9
10th team Crystal Palace is 9.5
11th team Wolves is 13.0
12th team Fulham is 14.2
13th team West Ham is 14.7
14th team Bournemouth is 16.1
15th team Everton is 16.2
16th team Leicester City is 16.5
17th team Swansea is 16.8
18th team Cardiff City is 17.7
19th team Leeds United is 17.8
20th team Southampton is 18.0
21th team Burnley is 18.8
22th team Watford is 19.0
23th team Norwich City is 19.1
24th team Sheffield United is 19.1
25th team Stoke City is 19.2
26th team Huddersfield is 19.2
27th team Sunderland is 19.2
28th team Hull City is 19.2
29th team West Brom is 19.5